<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System</title>
    <style>
        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-color: #ffaf7b; /* Cream background color */
            color: #fff;
            text-align: center;
        }
    </style>

    <link rel="stylesheet" th:href="@{/static/css/main.e19eaf76.css}" />
</head>
<body>
<div id="root"></div>
<script th:src="@{/static/js/main.47ed8369.js}"></script>
</body>
</html>
